{# Standings table component - division standings #}
<table>
    <thead>
        <tr>
            <th>Team</th>
            <th class="text-right">W</th>
            <th class="text-right">L</th>
            <th class="text-right">PCT</th>
            <th class="text-right">GB</th>
            <th class="text-right">Home</th>
            <th class="text-right">Away</th>
            <th class="text-right">L10</th>
            <th class="text-right">DIFF</th>
        </tr>
    </thead>
    <tbody>
        {% for team in standings %}
        <tr {% if team.abbr == away_team or team.abbr == home_team %}style="background-color: #e8f4f8;"{% endif %}>
            <td class="bold">{{ team.name }} ({{ team.abbr }})</td>
            <td class="text-right">{{ team.wins }}</td>
            <td class="text-right">{{ team.losses }}</td>
            <td class="text-right">{{ "%.3f"|format(team.pct) }}</td>
            <td class="text-right">{{ team.gb if team.gb != 0 else '-' }}</td>
            <td class="text-right">{{ team.home_record }}</td>
            <td class="text-right">{{ team.away_record }}</td>
            <td class="text-right">{{ team.last_10 }}</td>
            <td class="text-right">{{ "%+d"|format(team.run_diff) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
